.cover {
	background-size: contain;
	justify-content: center;
	display: flex;
	position: relative;
	padding-left: 1rem;
	padding-right: 1rem;
}

.cover-image-background {
	object-fit: cover;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 0;
	filter: brightness(70%)
}

.cover-inner-container {
	margin-top: 132px;
	margin-bottom: 132px;
	z-index: 1;
}
