{% extends "base.html" %}

{% block title %}
    Войти
{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-md-8 p-5">
            <div class="card">
                <div class="card-header">
                    Войти в учётную запись
                </div>
                <div class="card-body">
                    {% include 'includes/form_errors.html' %}
                    <form method="post">
                        {% include 'includes/form_body.html' %}
                        <div class="col-md-6">
                            <button type="submit" class="btn btn-primary">
                                Войти
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
