{% load static %}
{% with ver=108 %}
    <!DOCTYPE html>
    <html lang="ru-RU">
        <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

            <meta http-equiv="cleartype" content="on"/>
            <meta name="apple-mobile-web-app-capable" content="yes"/>
            <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
            <meta name="msapplication-TileColor" content="#990000"/>
            <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
            <meta http-equiv="imagetoolbar" content="no"/>
            <meta http-equiv="msthemecompatible" content="no"/>
            <meta name="theme-color" content="#013220">
            <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}?ver={{ ver }}">
            <link rel="stylesheet" href="{% static 'css/bootstrap-reboot.min.css' %}?ver={{ ver }}">
            
            <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
            
            <style type="text/css">
                body {
                    -ms-user-select: none;
                    -moz-user-select: none;
                    -khtml-user-select: none;
                    -webkit-user-select: none;
                }
            </style>

            {% block head %}{% endblock %}

            <title>
                {% block title %}{% endblock %}
            </title>
        </head>
        <body>
            <div class="container">
                <header class="py-3 mx-3">
                    <nav class="navbar">
                        <div class="justify-content-start row mb-3">
                            <h3 class="navbar-brand col">
                                {% block header_brand %}{% endblock %}
                            </h3>
                            <div class="col">
                                {% block header_create %}{% endblock%}
                            </div>
                        </div>
                        {% with request.resolver_match.view_name as view_name %}
                            <ul class="nav nav-tabs">
                                <li class="nav-item"><a href="/chess/" aria-current="page" class="nav-link {% if view_name  == 'chess:chess' %}
                                    active {% endif %}">Шахматка</a></li>
                                <li class="nav-item dropdown">
                                    <a href="{% url 'chess:all_services' %}" class="nav-link dropdown-toggle
                                        {% if view_name in 'chess:all_services chess:all_objects chess:all_clients chess:all_bookings'  %}active{% endif %}"
                                        id="nav-all-dropdown" data-bs-toggle="dropdown" href="#" role="button" data-bs-auto-close="outside" aria-expanded="false">Все</a>
                                    <ul class="dropdown-menu" aria-labelledby="nav-all-dropdown">
                                        <li><a class="dropdown-item" href="{% url 'chess:all_services' %}">Услуги</a></li>
                                        <li><a class="dropdown-item" href="{% url 'chess:all_objects' %}">Объекты</a></li>
                                        <li><a class="dropdown-item" href="{% url 'chess:all_clients' %}">Клиенты</a></li>
                                        <li><a class="dropdown-item" href="{% url 'chess:all_bookings' %}">Брони</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item"><a href="{% url 'chess:create_booking' %}" class="nav-link {% if view_name  == 'chess:create_booking' %}
                                    active {% endif %}">Новая бронь</a></li>
                            </ul>
                        {% endwith %}
                    </nav>
                </header>
                {% block content %}{% endblock %}
            </div>
        </body>
    </html>
{% endwith %}