{% extends 'base.html' %}

{% block title %}
    Бронирование мангальной полянки
{% endblock %}

{% block head %}
    <script type="text/javascript" src="https://33088.cloff.ru/widget/hbh.4282.b10b4d1164b51408b3501d96909f4a1c.js"></script>    
{% endblock %}

{% block content %}
    <main>
        <div class="background-tile-2 text-white">
            <div class="pt-5 px-5">
                <h3>Бронирование мангальной полянки</h3>
                <div id="CLOFF_HOTEL_WIDGET" style="width:280px;height:320px;"></div>
                <script>jcClWidgetBookingb10b4d1164b51408b3501d96909f4a1c.openform("CLOFF_HOTEL_WIDGET");</script>
            </div>
        </div>
    </main>
{% endblock %}