{% extends 'base.html' %}
{% load static %}

{% block title %}
	Пикник-парк "Наше место"
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/cover.css' %}?ver={{ css_version }}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/media-queries.css' %}?ver={{ css_version }}" type="text/css">

    <script type="text/javascript" src="https://33088.cloff.ru/widget/hb2.4261.f56c22ef9397548711f382ef804b07b3.js"></script>
    <script type="text/javascript" src="https://vk.com/js/api/openapi.js?169"></script>
{% endblock %}

{% block content %}
    <script type="text/javascript">
        VK.init({
            apiId: 212327764,
            onlyWidgets: true
        });
    </script>
    <main class="background-tile-2">
        <div class="cover">
            <img src="{% static 'img/img2.jpg' %}" class="cover-image-background filter-dark">
            <div class="cover-inner-container">
                <div class="justify-content-center text-center">
                    <h3 class="gold">Добро пожаловать<br>к нам в пикник-парк!</h3>
                    <p class="text-hyphens">В нашем красивом лесном парке есть всё для Вашего отдыха: видовые мангальные полянки, уютные беседки и мостки для рыбалки.</p>
                    <a class="btn text-white main-color" href="#booking">
                        <span class="gold">Забронировать</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="cover">
            <!-- <img src="{% static 'img/img1.jpg' %}" loading="lazy" class="cover-image-background filter-dark"> -->
            <div class="cover-inner-container">
                <div class="justify-content-center text-center">
                    <p class="mb-3 col">
                        <img class="row map" src="https://api-maps.yandex.ru/services/constructor/1.0/static/?um=constructor%3Ad5798a4288d27379d225efe840dc2a20b684928a580b75360f714a57e53a50a2&amp;width=500&amp;height=400&amp;lang=ru_RU"/>
                        <div class="row">
                            <a href="https://yandex.ru/maps/-/CCUFQCV6lB" target="_blank">Посмотреть в Яндекс.Картах</a>
                        </div>
                    </p>
                    <p>100 километров от МКАД по трассе М-4, Городской округ Кашира, вблизи посёлка Большое Руново.</p>
                    <p>15 гектаров лесопарковой зоны и пруд размером более 1 гектара ждут Вас! С 1 мая 2022 года Пикник-парк «Наше место» открылся для ежедневного посещения и будет день ото дня развиваться и совершенствоваться в надежде стать «Вашим любимым местом» для проведения активного досуга и приятного отдыха.</p>
                </div>
            </div>
        </div>
        <div class="cover">
            <!-- <img src="{% static 'img/img1.jpg' %}" loading="lazy" class="cover-image-background filter-dark"> -->
            <div class="cover-inner-container">
                <div class="justify-content-center text-center">
                    <h3 class="gold">Выбирайте как Вы хотите провести этот замечательный день:</h3>
                    <p class="lead text-start">⁃ в одиночестве и умиротворении?</p>
                    <p>Возьмите на прокат снасти и половите рыбу с благоустроенного рыбацкого мостка. Карп? Щука? Осётр? Кто окажется в Вашем садке сегодня? Сварите уху или закоптите? В «Нашем месте» есть всё что для этого нужно!</p>
                    <p>Прогуляйтесь по лесу и по берегу пруда, подремите в гамаке, попейте чая на природе. Пригласите близкого человека погулять по «Нашему месту», полюбуйтесь природой, подышите свежим воздухом. А ещё у нас нет клещей и комаров, пустячок, а всё же приятно!</p>
                </div>
            </div>
        </div>
        <div class="cover">
            <!-- <img src="{% static 'img/img1.jpg' %}" loading="lazy" class="cover-image-background filter-dark"> -->
            <div class="cover-inner-container">
                <div class="justify-content-center text-center">
                    <p class="lead text-start">⁃ выбраться на природу семьёй или дружной компанией?</p>
                    <p>Арендуйте два рыбацких мостка и устройте соревнование «кто быстрее поймает» или «у кого крупнее карп». Поставьте палатку и пожарьте хлеб или зефирки на костре. Пикник-парк «Наше место» создан специально для этих замечательных занятий!</p>
                    <p>Расположитесь в беседке или на мангальной полянке. На удобном мангале приготовьте отличные блюда. Проведите вечер у костра. В нашем пикник-парке есть настольные игры, а играть в мафию на природе приятнее чем в душной квартире!</p>
                </div>
            </div>
        </div>
        <div class="cover">
            <!-- <img src="{% static 'img/img1.jpg' %}" loading="lazy" class="cover-image-background filter-dark"> -->
            <div class="cover-inner-container">
                <div class="justify-content-center text-center">
                    <p class="lead text-srart">⁃ отпраздновать свадьбу? День рождения? Корпоратив? Тимбилдинг? Устроить встречу выпускников? Отметить последнюю пятницу на неделе?</p>
                    <p>Закажите аниматора для детского праздника, поиграйте в волейбол, устройте пейнтбольный бой, пройдите лесной квест. Любые виды активных развлечений на свежем воздухе доступны для Вас по предварительной договорённости.</p>
                    <p>В нашем пикник-парке есть мангальные полянки и разные беседки, рассчитанные на компании от 2-х до 40 человек. Мангалы, казаны, садж, шампуры, решетки, вертел — всё для Вашего кулинарного триумфа!</p>
                </div>
            </div>
        </div>
        <div class="cover" id="booking">
            <img src="{% static 'img/img1.jpg' %}" loading="lazy" class="cover-image-background filter-dark">
            <div class="cover-inner-container">
                <div class="justify-content-center text-center">
                    <p class="mb-3" style="margin: auto;">Бронь и оплату можно удобно и быстро произвести здесь:</p>
                    <div class="card text-dark text-start bg-warning mb-3">
                        <div class="card-header">Внимание</div>
                        <div class="card-body">
                          <p class="card-text">На данный момент функционал виджета работает некорректно. Приносим свои извинения.</p>
                        </div>
                    </div>
                    <div>
                        <div id="CLOFF_HOTEL_WIDGET" style="width:100%;"></div>
                        <script>jcClWidgetBookingf56c22ef9397548711f382ef804b07b3.openform("CLOFF_HOTEL_WIDGET");</script>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
