{% extends 'base.html' %}
{% load static %}

{% block title %}
	Пикник-парк "Наше место"
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/cover.css' %}?ver={{ ver }}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/media-queries.css' %}?ver={{ ver }}" type="text/css">   
{% endblock %}

{% block content %}
    <main class="background-tile-2 text-white">
        <div class="cover">
            <img style="object-position: 75% 10%;" src="{% static 'img/img9.jpg' %}?ver={{ ver }}" class="cover-image-background filter-dark" alt="Img9 background image"/>
            <div class="cover-inner-container">
                <div class="justify-content-center text-center">
                    <div>
                        <div class="row justify-content-center mb-3">
                            <div class="col-lg-3 col-sm-6 col-xs-8 px-0">
                                <img width="100%" height="100%" src="{% static 'img/main_logo.png' %}?ver={{ ver }}" alt="Logo image"/>
                            </div>
                            <h1>Пикник-парк<br><span class="gold">НАШЕ МЕСТО</span></h1>
                        </div>
                    </div>
                    <div class="container mb-3">
                        <div class="row">
                            <div style="margin: auto;" class="col-md">
                                <h2 class="py-lg-3">Отдых на природе<br>в Кашире</h2>
                                <p>Беседки и поляны с мангалами<br>от 1500 руб/день.</p>
                            </div>
                            <div style="margin: auto;" class="col-md my-3 mx-md-3">
                                <h2 class="py-lg-3">Рыбалка<br>в Кашире</h2>
                                <p>Карп от 0,5 до 2 кг,<br>Сом от 1,5 до 9 кг,<br>Осётр от 2 до 5 кг,<br>Щука от 3 до 5 кг.<br>Платная рыбалка от 1500 руб/день.</p>
                            </div>
                            <div style="margin: auto;" class="col-md">
                                <h2 class="py-lg-3">Кемпинг<br>в берёзовом лесу</h2>
                                <p>Палатки от 750 руб/сутки.<br>Можно со своей палаткой!</p>
                            </div>
                        </div>
                    </div>
                    <div class="pt-lg-5 pb-5">
                        <a class="btn main-button" href="#booking">
                            <h2><span class="gold">Забронировать</span></h2>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="cover">
            <div class="cover-inner-container">
                <div class="justify-content-center text-center">
                    <div style="margin: auto;" class="col pt-5 pt-lg-0 mb-3">
                        <img class="row map" src="https://api-maps.yandex.ru/services/constructor/1.0/static/?um=constructor%3Ad5798a4288d27379d225efe840dc2a20b684928a580b75360f714a57e53a50a2&amp;width=600&amp;height=400&amp;lang=ru_RU" alt="Yandex.Map image"/>
                        <div class="row">
                            <p class="lead"><a class="mb-3" href="https://yandex.ru/maps/-/CCUFQCV6lB" target="_blank">Посмотреть в Яндекс.Картах</a></p>
                        </div>
                    </div>
                    <div class="px-3 pb-5 pb-lg-0">
                        <p>100 километров от МКАД по трассе М-4, Городской округ Кашира, вблизи посёлка Большое Руново.</p>
                        <p>15 гектаров лесопарковой зоны и пруд размером более 1 гектара ждут Вас! С 1 мая 2022 года Пикник-парк «Наше место» открылся для ежедневного посещения и будет день ото дня развиваться и совершенствоваться в надежде стать «Вашим любимым местом» для проведения активного досуга и приятного отдыха.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="cover">
            <img style="object-position: 30% 90%;" src="{% static 'img/img8.jpg' %}?ver={{ ver }}" loading="lazy" class="cover-image-background filter-dark"  alt="Img8 background image"/>
            <div class="cover-inner-container">
                <div class="dark-background">
                    <div class="justify-content-center text-center p-3">
                        <p>В пикник-парке «НАШЕ МЕСТО» можно отпраздновать свадьбу, день рождения, корпоратив, провести встречу выпускников или отметить последнюю пятницу на неделе!</p>
                        <p>Рыбалка, кемпинг, палатки, беседки, мангалы, казаны, садж, шампуры, решётки, вертел - всё для Вашего активного отдыха и кулинарного триумфа!</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="cover" id="booking">
            <div class="cover-inner-container">
                <div class="justify-content-center text-center">
                    <h2 class="mb-5 pt-5 pt-lg-0">Бронь и оплату можно удобно и быстро<br>произвести здесь:</h2>
                    <div class="col px-3 pb-5 pb-lg-0">
                        <div class="row">
                            <a class="btn main-button" href="{% url 'main:book' 1 %}">
                                <h3 class="gold">Забронировать беседку</h3>
                            </a>
                        </div>
                        <div class="row my-3">
                            <a class="btn main-button" href="{% url 'main:book' 2 %}">
                                <h3 class="gold">Забронировать рыбацкий мостик</h3>
                            </a>
                        </div>
                        <div class="row mb-3">
                            <a class="btn main-button" href="{% url 'main:book' 3 %}">
                                <h3 class="gold">Забронировать мангальную полянку</h3>
                            </a>
                        </div>
                        <div class="row">
                            <a class="btn main-button" href="{% url 'main:book' 4 %}">
                                <h3 class="gold">Забронировать кемпинг</h3>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    {% include 'includes/yandex_metrika.html' %}
{% endblock %}
