<footer class="border-top text-left row">
	<div class="col">
		<p>Уточнить детали и договориться о посещении Пикник-парка «Наше место» Вы можете по телефону:</p>
		<a class="h3" href="tel:+79295550066">+79295550066</a>
		<p>© 2022 ИП Шишкин П.А.</p>
	</div>
	<div class="col" style="margin: auto;" id="vk_groups"></div>
	<div class="col-3 text-right">
		<p>Бронь и оплату можно удобно и быстро произвести здесь:</p>
		<button class="btn bg-white" onclick="clW_f56c22ef9397548711f382ef804b07b3.openform();">Забронировать</button>
	</div>
</footer>