<footer>
	<div>
		<div class="row">
			<div class="col mb-3">
				<p>Уточнить детали и договориться о посещении Пикник-парка «Наше место» Вы можете по телефону:</p>
				<a href="tel:+79295550066" ><h3>+79295550066</h3></a>
			</div>
			<div class="col mb-3" id="vk_groups"></div>
		</div>
		<p>© 2022 ИП Шишкин П. А.</p>
		<!-- Yandex.Metrika counter -->
		<script type="text/javascript" >
			(function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
			m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
			(window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
		
			ym(88429512, "init", {
				clickmap:true,
				trackLinks:true,
				accurateTrackBounce:true
			});
		</script>
		<noscript><div><img src="https://mc.yandex.ru/watch/88429512" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
		<!-- /Yandex.Metrika counter -->
	</div>
</footer>